@font-face {
  font-family: minecraft;
  src: url(/font/minecraft_regular.ttf);
}

body {
  background-image: url("/images/bg.png");
  text-align: center;
  padding: 50px;
  font: 14px minecraft;
  color: white;
}

#logo {
  color: white;
}

a {
  color: #00B7FF;
}

button {
  margin: 10px;
}
