<div id="content">
  <div style="font-size: 60px; color: white;">Tired of being limited to 'Featured Servers'?</div>
  <div style="font-size: 30px; color: white;">With Bedrock Connect, you can connect to any server IP/Address on Minecraft: Bedrock Edition on your Xbox/Nintendo Switch</div>
  <div style="font-size: 25px; color: white; padding-top: 30px;">To learn how, first choose the platform you are currently playing Minecraft: Bedrock Edition on:</div>
  <div id="platforms">
    <img width="200" alt="Xbox Logo" style="padding-right: 45px;" src="/assets/xbox.png">
    <img width="200" alt="Switch Logo" src="/assets/switch.svg">
  </div>
</div>
