#content
    text-align center
    font-family 'Abel', sans-serif
    line-height 96px
    animation: 1s ease-out 0s 1 pop;

#moto
    font-size 40px

#platforms
    padding 45px
    img
        cursor pointer
        margin-bottom 10px
        transition margin-bottom 0.3s
    img:hover
        margin-bottom: 5px;    

#github
    font-size 24px
    color #ffffff82
    position fixed
    bottom 32px
    right 32px
    cursor pointer
    transition color 0.3s

#github:hover
    color #ffffffbf

@keyframes pop {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}