extends layout

block content 
  script(src="/javascript/server.js")
  h1#logo BedrockConnect

  select(id="list" size="2" style="width: 300px; height: 300px;")
  div    
    button(name='add' id="add") Add
    button(name='remove' id="remove" disabled) Remove
  div
    button(name='connect' id="connect" disabled) Connect
  h2 Currently Connected Server:
  h3(id="server") None