extends layout

block content 
  script(src="/javascript/server.js")
  h1#logo BedrockConnect

  select(id="list" multiple="multiple" size="2" style="width: 300px; height: 300px;")
  div    
    button(name='connect' id="connect" disabled) Connect
    button(name='add' id="add") Add