<div id="content">
  <a target="_blank" href="https://github.com/Pugmatt/BedrockConnect">
    <div id="github">
      View the Open Source code
      <img width="50" style="vertical-align:middle; padding-left: 8px;" src="/assets/github.png"/>
    </div>
  </a>
  <div style="font-size: 60px; color: white;"><b>Tired of being limited to 'Featured Servers'?</b></div>
  <div style="font-size: 30px; color: white;">With Bedrock Connect, you can connect to <b>any multiplayer server IP/Address</b> on <i>Minecraft: Bedrock Edition</i> on your Xbox/Nintendo Switch</div>
  <div style="font-size: 25px; color: white; padding-top: 30px;">To learn how, first click on the platform you are currently playing <i>Minecraft: Bedrock Edition</i> on:</div>
  <div id="platforms">
    <img width="200" alt="Xbox Logo" style="padding-right: 45px;" src="/assets/xbox.png">
    <img width="200" alt="Switch Logo" src="/assets/switch.svg">
  </div>
</div>
